# Configuration file

basic {
    B:"Drop Experience"=false
    B:"Keep Experience"=true
}


health {
    # In case that mods that modify health are present, make sure to disable them before using this
    B:Enabled=true

    # Items that increase maximal health when used [default: [// toughasnails:lifeblood_crystal], [// cyclicmagic:heart_food], [// minecraft:wool;15 // metadata example, black wool], [minecraft:nether_star, 1 // amount example, 0,5 hearts instead of default 1]]
    S:"Health Items" <
        // toughasnails:lifeblood_crystal
        // cyclicmagic:heart_food
        // minecraft:wool;15 // metadata example, black wool
        minecraft:nether_star, 1 // amount example, 0,5 hearts instead of default 1
     >

    # Should the message for health removal and threshold achievement be shown to the player
    B:"Health Message"=true
    I:"Health Reduction"=1

    # Values which, when achieved, move the lowest health of the player to the achieved value,
    # it is also possible to make a non-decreasable threshold with 'KEEP' after the number [default: [8 KEEP // Disables the health decreasing when the player is at or below this value, has to be the first (and lowest) and only one is allowed], [16 // Moves the lowest health from min to this value when achieved]]
    S:"Health Thresholds" <
        8 KEEP // Disables the health decreasing when the player is at or below this value, has to be the first (and lowest) and only one is allowed
        16 // Moves the lowest health from min to this value when achieved
     >
    I:"Max Health"=20
    I:"Min Health"=6

    # Config options which should be considered for the reset of health, 
    # all the available values are used by default [default: [MIN_HEALTH], [MAX_HEALTH], [STARTING_HEALTH]]
    S:"On Change Reset" <
        MIN_HEALTH
        MAX_HEALTH
        STARTING_HEALTH
     >

    # Health with which the player should start with, values = CUSTOM(value), MIN, MAX
    S:"Starting Health"=MIN
}


hunger {
    B:"Keep Hunger"=true
    B:"Keep Saturation"=true
    I:"Lowest Hunger"=6
    I:"Lowest Saturation"=2
    I:"No Appetite Time (Seconds)"=300
}


